*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
   
    
}

body{
    height: 100vh;
}
.banner-container{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100vh;
    margin: auto;
    gap: 20px;    
    background-color:rgba(229, 84, 115, 0.10);
    
}

.banner-text{
    padding-left: 80px;
}


.header-text{
    color: #272727;

font-size: 55px;
font-weight: bold;
padding-left: 50px;
padding-bottom: 10px;
line-height: 50px;

}
.banner-image{
    margin-left: 100px;
}
.banner-img{
    width: 325px;
    height: 450px;
    margin-left: 100px;
    margin-top: 20px;
   
}
.banner-description{
   
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    
    padding-left: 50px;
    padding-bottom: 10px;
  
}
.btn{
    border-radius: 3px;
   background: #E55473;
   display: inline-flex;
padding: 10px 15px;
align-items: flex-start;
gap: 5px;
 color: white;
 border-color: transparent;
 font-size: 10px;
 
}
.btn-container{
    padding-left: 50px;
}
.featured-text{
    text-align: center;
}
.featured-container{
    padding-top: 80px;
    padding-bottom: 80px;
}
.section-title{
    padding-bottom: 10px;
    font-weight: bolder;
}
.flower-container-main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 80px;
    padding-right: 80px;
}
.flower-container-1{
    border-radius: 50% 50% 0 0;
    width:300px ;
    height: 250px;
    background: rgba(167, 33, 98, 0.15);
}
.flower-container-2{
    border-radius: 50% 50% 0 0;
    width:300px ;
    height: 250px;
    background: rgba(5, 151, 160, 0.15);


}
.flower-container-3{
    border-radius: 50% 50% 0 0;
    width:300px ;
    height: 250px;
    background: rgba(71, 125, 17, 0.15);
}
.flower-img{
    width:200px ;
    height: 250px;
    padding-top: 50px;
    padding-left: 30px;
    
}
.flower-caption{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 12px;
    padding-top: 8px;

}
.deal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
}
.deal-image-container{
    width:200px ;
    height: 250px;
    
}
.deal-img{
    width:200px ;
    height: 250px;
}
.deal-header{
 padding-left: 50px;
}
.deal-text{
    text-align: center;
}
.text-red{
    color: #E55473;
}

.insta-container-main{
    
    padding-left: 80px;
    padding-right: 80px;
}
.insta-text{
    text-align: center;
}
.insta-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 162px;
    height: 202px;
    margin: auto;
}
.insta-img-size{
    width: 162px;
    height: 202px;
    
}
.latest-deal-container{
   
    margin: 50px auto;
    width: 700px;
    
    
}
.deal-img-bg{
    background-image: url("../Flower Asset/Rectangle9.png");
    width: 700px;
    height: 200px;
    background-size: cover;
   
    
    
    
}
.latest-deal-text{
    text-align: center;
    margin-top: 20px;
   
}
.input-container{
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding-left: 130px;
    gap: 7px;
}

.sub-input{
    padding: 10px 15px;
    width: 350px;
    border-radius: 3px;
    border-color: transparent;
    
}
.latest-description{
   
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;

    
   
    padding-bottom: 10px;
    padding-top: 10px;
  
}
.footer-container{
    background-color: black;
    height: 200px;
    margin-top: 80px;
    margin-bottom: auto;

   
    
}
.footer-title{
    padding-bottom: 10px;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.90);
}
.footer-description{
   
    color: rgba(255, 255, 255, 0.90);
    
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    
 
    padding-bottom: 10px;
  
}
.footer-text{
    text-align: center;
    padding-top: 45px;
    margin: auto;
}
.text-gray{
    color: rgba(255, 255, 255, 0.40);
}

.review-container{
   text-align: center;
   background-color: rgb(247, 229, 238);
}
.user-container{
    
    text-align: center;
   
    

}
.user-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}